<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sanchez.sanchez.sergio.masom_app">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>


        <!-- Intro Activity -->
        <activity
            android:name=".ui.activity.intro.IntroMvpActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Intro" />

        <!-- Custom Splash Screen Activity -->
        <activity
            android:name=".ui.activity.splash.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="cat.ereza.customactivityoncrash.RESTART" />
            </intent-filter>
        </activity>

        <!-- Crash Error Activity -->
        <activity
            android:name=".ui.activity.CrashErrorActivity"
            android:label="@string/app_name"
            android:process=":error_activity"
            android:theme="@style/AppTheme.Crash">
            <intent-filter>
                <action android:name="cat.ereza.customactivityoncrash.ERROR" />
            </intent-filter>
        </activity>

        <!-- Home Activity -->
        <activity
            android:name=".ui.activity.home.HomeMvpActivity"
            android:label="@string/title_activity_home" />

        <!-- My Kids Activity -->
        <activity
            android:name=".ui.activity.mykids.MyKidsMvpActivity"
            android:label="@string/title_activity_my_kids"
            android:screenOrientation="portrait" />

        <!-- Alert Detail Activity -->
        <activity
            android:name=".ui.activity.alertdetail.AlertDetailMvpActivity"
            android:label="@string/title_activity_alert_detail"
            android:screenOrientation="portrait" />

        <!-- Alert List Activity -->
        <activity
            android:name=".ui.activity.alertlist.AlertListMvpActivity"
            android:label="@string/title_activity_alert_list"
            android:screenOrientation="portrait" />

        <!-- App Tutorial Activity -->
        <activity
            android:name=".ui.activity.tutorial.AppTutorialActivity"
            android:label="@string/title_activity_app_tutorial"
            android:screenOrientation="portrait" />

        <!-- User Settings Activity -->
        <activity
            android:name=".ui.activity.settings.UserSettingsMvpActivity"
            android:label="@string/title_activity_user_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Preferences" />

        <!-- User Profile -->
        <activity
            android:name=".ui.activity.userprofile.UserProfileMvpActivityMvp"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.UserProfile" />

        <!-- My Kids Profile -->
        <activity
            android:name=".ui.activity.mykidsprofile.MyKidsProfileMvpActivity"
            android:label="@string/title_activity_my_kids_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MyKidsProfile" />

        <!-- Comments Activity -->
        <activity
            android:name=".ui.activity.comments.CommentsMvpActivity"
            android:label="@string/title_activity_comments"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Comments" />

        <!-- Comment Detail Activity -->
        <activity
            android:name=".ui.activity.commentdetail.CommentDetailMvpActivity"
            android:label="@string/title_activity_comment_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CommentDetail" />

        <!-- My Kids Detail Activity -->
        <activity
            android:name=".ui.activity.mykidsdetail.MyKidsDetailMvpActivity"
            android:label="@string/title_activity_my_kids_detail_activty"
            android:screenOrientation="portrait"/>
    </application>

</manifest>