<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sanchez.sanchez.sergio.bullkeeper">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />


        <!-- Intro Activity -->
        <activity
            android:name=".ui.activity.intro.IntroMvpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Common" />

        <!-- Custom Splash Screen Activity -->
        <activity
            android:name=".ui.activity.splash.SplashScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="cat.ereza.customactivityoncrash.RESTART" />
            </intent-filter>
        </activity>

        <!-- Crash Error Activity -->
        <activity
            android:name=".ui.activity.CrashErrorActivity"
            android:label="@string/app_name"
            android:process=":error_activity"
            android:theme="@style/AppTheme.Common">
            <intent-filter>
                <action android:name="cat.ereza.customactivityoncrash.ERROR" />
            </intent-filter>
        </activity>

        <!-- Home Activity -->
        <activity
            android:name=".ui.activity.home.HomeMvpActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Common"/>

        <!-- My Kids Activity -->
        <activity
            android:name=".ui.activity.mykids.MyKidsMvpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Common" />

        <!-- Alert Detail Activity -->
        <activity
            android:name=".ui.activity.alertdetail.AlertDetailMvpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common"/>

        <!-- Alert List Activity -->
        <activity
            android:name=".ui.activity.alertlist.AlertListMvpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Common"
            />

        <!-- App Tutorial Activity -->
        <activity
            android:name=".ui.activity.tutorial.AppTutorialActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- User Settings Activity -->
        <activity
            android:name=".ui.activity.settings.UserSettingsMvpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Preferences" />

        <!-- Alerts Settings Activity -->
        <activity
            android:name=".ui.activity.alertlist.AlertsSettingsMvpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Preferences" />

        <!-- User Profile -->
        <activity
            android:name=".ui.activity.userprofile.UserProfileMvpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common" />

        <!-- My Kids Profile -->
        <activity
            android:name=".ui.activity.mykidsprofile.MyKidsProfileMvpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Common" />

        <!-- Comments Activity -->
        <activity
            android:name=".ui.activity.comments.CommentsMvpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Common" />

        <!-- Comment Detail Activity -->
        <activity
            android:name=".ui.activity.commentdetail.CommentDetailMvpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common" />

        <!-- My Kids Detail Activity -->
        <activity
            android:name=".ui.activity.mykidsdetail.MyKidsDetailMvpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common"/>

        <!-- Kids Results Activity -->
        <activity
            android:name=".ui.activity.kidsresults.KidsResultsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Common"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0f86f04a7fbf03688e65ded3dbd67fef1d41294d" />
        <!-- Legal Content activity -->
        <activity
            android:name=".ui.activity.legal.LegalContentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Common" />

        <!-- Search School Activity -->
        <activity
            android:name=".ui.activity.school.search.SearchSchoolMvpActivity"
            android:label="@string/title_activity_search_school"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common" />

        <!-- Add School Activity -->
        <activity
            android:name=".ui.activity.school.create.AddSchoolMvpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common" />


        <!-- RelationsSettingsMvpActivity -->
        <activity android:name=".ui.activity.kidresultssettings.KidResultsSettingsMvpActivity"
            android:label="@string/title_activity_add_school"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Preferences"
            />

        <!-- Comments Settings Activity -->
        <activity android:name=".ui.activity.commentssettings.CommentsSettingsMvpActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Preferences" />

        <!-- Relations Mvp Activity -->
        <activity android:name=".ui.activity.relations.RelationsMvpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common"/>

        <!-- Invitations List Mvp Activity -->
        <activity android:name=".ui.activity.invitations.InvitationsListMvpActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Common" />

        <!-- Relation Detail Mvp Activity -->
        <activity android:name=".ui.activity.relationdetail.RelationDetailMvpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common" />

        <activity android:name=".ui.activity.relationssettings.RelationsSettingsMvpActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Preferences" />


        <!-- Add Scheduled Block -->
        <activity android:name=".ui.activity.savescheduledblock.SaveScheduledBlockMvpActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Preferences" />


        <!-- Terminal Detail Activity -->
        <activity
            android:name=".ui.activity.terminaldetail.TerminalDetailMvpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common"/>

        <!-- Conversation List Mvp Activity -->
        <activity android:name=".ui.activity.conversationslist.ConversationListMvpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common"/>


        <!-- Conversation Message List Mvp Activity -->
        <activity android:name=".ui.activity.conversationmessages.ConversationMessageListMvpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common"/>

        <!-- Search Guardian Mvp Activity -->
        <activity android:name=".ui.activity.searchguardian.SearchGuardiansMvpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common" />

        <!-- Invitation Detail Mvp Activity -->
        <activity android:name=".ui.activity.invitationdetail.InvitationDetailMvpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common"
            />

        <!-- App Detail Mvp Activity -->
        <activity android:name=".ui.activity.appdetail.AppDetailMvpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common"
            />

        <!-- Sms Detail Activity -->
        <activity android:name=".ui.activity.smsdetail.SmsDetailMvpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common"
            />

        <!-- Call Detail Activity -->
        <activity android:name=".ui.activity.calldetail.CallDetailMvpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common"
            />

        <!-- Contact Detail Activity -->
        <activity android:name=".ui.activity.contactdetail.ContactDetailMvpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common"
            />

        <!-- Phone Numbers Blocked List -->
        <activity android:name=".ui.activity.phonenumbersblocked.PhoneNumbersBlockedListMvpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common"
            />

        <!-- Kid Request List -->
        <activity android:name=".ui.activity.kidrequest.KidRequestListMvpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common"
            />

        <!-- Kid Request Detail -->
        <activity android:name=".ui.activity.kidrequestdetail.KidRequestDetailMvpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common"
            />

        <!-- Geofences List Mvp Activity -->
        <activity android:name=".ui.activity.geofences.list.GeofencesListMvpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common"
            />

        <!-- Save Geofence Mvp Activity -->
        <activity android:name=".ui.activity.geofences.save.SaveGeofenceMvpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Common"
            />

        <!-- Services -->
        <service
            android:name=".ui.services.RemoteNotificationService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".ui.services.NotificationHandlerService"
            android:enabled="true"
            android:exported="false" />


        <service
            android:name=".ui.services.FetchAddressIntentService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>